body{
    background: white;
}
#container{
    position: relative;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.container{
    position: relative;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
}

h1{
    background-color:white;
}
a{
    align-items: right;
    background-color:rgb(94, 132, 168);
    text-align: right;
    margin: none;
    Color: white;
    border-radius: .2em;
    padding: 3px 30px;
    text-align: right;
    
}
.divinterno{
    position: relative;
    padding: 0.1em;
    display: flex;
    Color: white;
    justify-content:center;
    /*background-color:rgb(28, 94, 36) ;*/
    
}
.a2{
    background-color:rgb(196, 161, 109);
    Color: white;
    border-radius: .2em;
    padding: .2em -.2em;
    
   
}

.cabecera{
   /* text-align: right;*/
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.cabecera2{
    position: relative;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    
       
}

.contenido{
    position: relative;
    padding: 0.5em;
    display: flex;

    
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
    font-family: inherit;
    
 }
 caption, td, th {
    padding: 0.3em;
 }
 th, td {
    border-bottom: 1px solid #999;
    width: 9%;
    text-align: center;
    font-size: .8rem;
 }
 caption {
    font-weight: bold;
    font-style: inherit;
 }

 .select {
    position: relative;
    border: 1px solid #ccc;
    width: 120px;
    overflow: hidden;
    background-color: #fff;
    padding: .2em;
    border-radius: .2em;

  }
  
  .buttonGreen{
    background-color:rgb(140, 172, 140);
    font-style: inherit;
    background-origin: padding-box;;
    Color: white;
    border-radius: .2em;
    border: none;
    padding: .2em;

  }
  .buttonOpciones{
    background-color:rgb(140, 172, 140);
    font-style: inherit;
    background-origin: padding-box;;
    Color: white;
    border-radius: .2em;
    border: none 1rem ;
    padding: 3px 30px;
    

  }
  .buttonOpcionesAbierto{
    background-color:rgb(226, 241, 226);
    font-style: inherit;
    background-origin: padding-box;;
    Color:black;
    border-radius: .2em;
    border: none 1rem ;
    padding: 3px 30px;
    
    

  }

  .buttonOpcionesInt{
    background-color:rgb(143, 202, 143);
    font-style: inherit;
    background-origin: padding-box;;
    Color:white;
    border-radius: .2em;
    border: none 1rem ;
    padding: 3px 15px;
    font-size: .6em;
    width: 15em;
    size: 0.8;

  }

  /*a.aGreenchillon:after {content: " " url("www.google.com");}*/

  .aGreenchillon{
    align-items: right;
    background-color:rgb(110, 233, 120);
    text-align: right;
    margin: none;
    Color: white;
    border-radius: .2em;
    padding: 0.2em;
    text-align: right;
   
  }

 
  input{
      border-radius: 1em;
      padding: 0.2em;
      
  }

  #search{
    float:left;
    width:100px;
    border-radius:0.2em;

    
  }
  
  .excel{
    
    right: 0;
    left: 200px;
    top: 0;
   /*float:Right;
    display: flex;*/
    align-self: flex-end ;
  }

  /********************************/
  .lupa {
    float: right;
    margin-right: -4em;
    margin-top: -20px;
    position: relative;
    z-index: 1;
    color: black;
    opacity: 0.5;
}

.carro{
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0.2em;
}
.car{

    color: black;
    opacity: 0.8;
    font-size: 30px;
}

.fondored{

    color: red;
    opacity: 0.8;
    font-size: 30px;
}

.aCar {
    position: absolute;
    top: -5px;
    left: 17px;
    color:white;
}

.pcant {
    position: absolute;
    top: -4px;
    left: 12px;
 
    color:white;
}
.flecha {
    position: absolute;
    top: 3px;
    Right: 15px;
    color:white;
}

.flechaup {
    position: absolute;
    top: 4px;
    Right: 35px;
    color:rgb(5, 1, 1);
}
.iconsize {
    position: absolute;
    top: 3px;
    Right: 25px;
    color:white;
    font-size: 0.8em;
}

.flex-item:nth-child(2) {
    align-self : flex-end;
}
label{
    background-color: salmon ;
    border-radius: 0.2em;
    font-size: 1em;
}
  